// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background: #fff;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}


.alert_block {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 70px;
    z-index: 10040;
}

.alert_item {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    list-style: none;
    min-width: 300px;
    position: relative;
    margin-bottom: 10px;
}

.alert_item .modal__close {
    width: 10px;
    height: 10px;
    background-size: 100%;
    top: 10px;
    right: 10px;
}

.alert_text {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1.1rem;
}

.alert_danger {
    background: rgba(211, 41, 62, 0.9);
}

.alert_success {
    background: rgba(39, 174, 96, 0.9);
}
