<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Home</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <a href="/admin/forms" class="card card-item">
                                        Формы
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
<style>
.card-item {
    color: #fff;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4b950d;
    font-size: 16px;
    text-transform: uppercase;
}

.card-item:hover {
    cursor: pointer;
    color: #fff;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4b950d;
    font-size: 16px;
    text-transform: uppercase;
}
</style>
