<template>
    <div class="alert_block">
        <ul v-if="errors">
            <li class="alert_item alert_danger" v-for="(error) in errors">

                <div class="alert_text">
                    <p v-html="error[0]"></p>
                </div>
            </li>
        </ul>
        <ul>
            <li class="alert_item alert_success" v-if="success.length">

                <p class="alert_text">
                    {{ success }}
                </p>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props: {
        errors: {},
        success: ''
    },

};
</script>
<style>
.alert_block {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 70px;
    z-index: 10040;
}

.alert_item {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    list-style: none;
    min-width: 300px;
    position: relative;
    margin-bottom: 10px;
}

.alert_item .modal__close {
    width: 10px;
    height: 10px;
    background-size: 100%;
    top: 10px;
    right: 10px;
}

.alert_text {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1.1rem;
}

.alert_danger {
    background: rgba(211, 41, 62, 0.9);
}

.alert_success {
    background: rgba(39, 174, 96, 0.9);
}

</style>
