<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Number:</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" v-model="invoice.number">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Invoice Date:</label>
                    <b-form-datepicker v-model="invoice.invoice_date" class="mb-2"></b-form-datepicker>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Supply Date:</label>
                    <b-form-datepicker v-model="invoice.supply_date" class="mb-2"></b-form-datepicker>
                </div>
            </div>

            <div class="col-md-6">

            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Comment:</label>
                    <textarea class="form-control" v-model="invoice.comment">

                </textarea>
                </div>
            </div>
            <div class="col-md-12 text-right mt-4">
                <button type="submit" class="btn btn-primary" v-on:click="addInvoice()">Save</button>
            </div>

        </div>


        <alert :errors="errors" :success="success"></alert>
    </div>
</template>

<script>
import alert from '../../Alert/AlertBlock';
import Vue from 'vue'
import {BootstrapVue, IconsPlugin} from 'bootstrap-vue'

Vue.use(BootstrapVue)
Vue.use(IconsPlugin)
export default {
    props: ['id'],
    data: function () {
        return {
            value: "",
            errors: "",
            success: "",
            invoice: {
                id: 0,
                number: '',
                invoice_date: '',
                supply_date: '',
                comment: '',
            }
        }
    },
    mounted() {
        var app = this;
        console.log(app.$route);
        axios.get('/api/admin/invoices/' + app.id).then(response => {
            if (response.data.invoice.id != 0) {
                app.invoice = response.data.invoice;
            }
        }).catch(error => {
        });
    },
    methods: {

        addInvoice() {
            event.preventDefault();
            let app = this;
            axios.post('/api/admin/invoices/' + app.invoice.id, {
                invoice: app.invoice,
            }).then(function (response) {
                if (response.data.result == 1) {
                    app.showSuccess('Invoice Success');
                    window.location = '/admin/invoices/' + app.invoice.id;
                }
            }).catch(function (error) {
                if (error.response.status == 422) {
                    app.showErrors(error.response.data.errors);
                }
            })
        },
        showErrors: function (errors) {
            let app = this;
            this.errors = errors;
            setTimeout(function () {
                app.errors = {};
            }, 3000)
        },
        showSuccess: function (message) {
            let app = this;
            app.success = message;
            setTimeout(function () {
                app.success = '';
            }, 3000)
        },
    },
    components: {
        alert,

    }
}
</script>

<style scoped>

</style>
