<template>
    <div>
        <div>
            <div>
                <table class="table  table-bordered">
                    <thead class="thead-main b-color ">
                    <tr>
                        <th>ID</th>
                        <th>Number</th>
                        <th>Invoice Date</th>
                        <th>Supply Date</th>
                        <th>Comment</th>
                        <template v-if="auth!='underfined'&&auth!=null&&auth.length>=1">
                            <th>Options</th>
                        </template>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="invoice in invoices">
                        <td>{{ invoice.id }}</td>
                        <td>{{ invoice.number }}</td>
                        <td>{{ invoice.invoice_date }}</td>
                        <td>{{ invoice.supply_date }}</td>
                        <td>{{ invoice.comment }}</td>
                        <template v-if="auth!='underfined'&&auth!=null&&auth.length>=1">
                            <td>
                                <a :href="'/admin/invoices/'+invoice.id" class="btn btn-success">Change</a>
                                <button class="btn btn-danger" v-on:click="deleteInvoice(invoice.id)">Delete</button>
                            </td>
                        </template>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <alert :errors="errors" :success="success"></alert>

    </div>
</template>

<script>
import alert from '../../Alert/AlertBlock';
import Vue from 'vue'
import {BootstrapVue, IconsPlugin} from 'bootstrap-vue'

Vue.use(BootstrapVue)
Vue.use(IconsPlugin)
export default {
    props: ['role', 'auth'],
    data: function () {
        return {
            errors: "",
            success: "",
            invoices: {}
        }
    },
    mounted() {

        var app = this;
        axios.get('/api/admin/invoices').then(response => {
            app.invoices = response.data.invoices;
        }).catch(error => {

        });
        console.log(app.auth);
    },
    methods: {
        showErrors: function (errors) {
            let app = this;
            this.errors = errors;
            setTimeout(function () {
                app.errors = {};
            }, 3000)
        },
        showSuccess: function (message) {
            let app = this;
            app.success = message;
            setTimeout(function () {
                app.success = '';
            }, 3000)
        },
        deleteInvoice(id, index) {
            event.preventDefault();
            let formReq = {};
            formReq.id = id;
            let data = Object.assign({}, formReq);
            axios.post('/api/admin/invoices/delete/' + id, data)
                .then(response => {
                    this.invoices.splice(index, 1);
                }).catch(function (error) {
                if (error.response.status == 422) {
                    app.showErrors(error.response.data.errors);
                }
            });
        },
    },
    components: {
        alert,

    }
}
</script>

<style scoped>

</style>
